In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import nltk 
import re
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import  PorterStemmer

C:\Users\mm\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mm\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
dataset=pd.read_csv(r"M:\software\AI_TRAINING_IBM\Message.csv",encoding='ISO-8859-1')

In [5]:
dataset

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
rev=dataset[['v1', 'v2']]
rev

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
rev.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
rev.shape

(5572, 2)

In [13]:
ps=PorterStemmer()

In [23]:
data=[]
for i in range (0,5572):
    msg=rev['v2'][i]
    msg=re.sub('[^a-zA-Z]',' ',msg)
    msg=msg.lower()
    msg=msg.split()
    msg=[ps.stem(word) for word in msg if word not in set(stopwords.words('english'))]
    msg=' '.join(msg)
    data.append(msg)

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(data).toarray()

In [35]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Label Encoding

In [40]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [41]:
rev['v1']=le.fit_transform(rev['v1'])
y=rev['v1'].values
y

C:\Users\mm\AppData\Local\Temp\ipykernel_1940\1703734201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rev['v1']=le.fit_transform(rev['v1'])

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

# Model Building

In [32]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [37]:
x.shape

(5572, 6221)

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [47]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4457, 6221)
(1115, 6221)
(4457,)
(1115,)

In [50]:
model=Sequential()
model.add(Dense(units=6221,kernel_initializer="random_uniform",activation="relu"))
model.add(Dense(units=4000,kernel_initializer="random_uniform",activation="relu"))
model.add(Dense(units=1,kernel_initializer="random_uniform",activation="sigmoid"))

In [55]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [56]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
140/140 [==============================] - 45s 319ms/step - loss: 0.1647 - accuracy: 0.9594
Epoch 2/10
140/140 [==============================] - 44s 317ms/step - loss: 0.0050 - accuracy: 0.9982
Epoch 3/10
140/140 [==============================] - 44s 317ms/step - loss: 3.5415e-04 - accuracy: 1.0000
Epoch 4/10
140/140 [==============================] - 43s 307ms/step - loss: 1.0156e-04 - accuracy: 1.0000
Epoch 5/10
140/140 [==============================] - 45s 322ms/step - loss: 5.4106e-05 - accuracy: 1.0000
Epoch 6/10
140/140 [==============================] - 44s 314ms/step - loss: 3.3743e-05 - accuracy: 1.0000
Epoch 7/10
140/140 [==============================] - 47s 333ms/step - loss: 2.2357e-05 - accuracy: 1.0000
Epoch 8/10
140/140 [==============================] - 46s 327ms/step - loss: 1.5916e-05 - accuracy: 1.0000
Epoch 9/10
140/140 [==============================] - 43s 310ms/step - loss: 1.0861e-05 - accuracy: 1.0000
Epoch 10/10
140/140 [==============================] - 48s 343ms/step - loss: 8.3830e-06 - accuracy: 1.0000

# Save the model

In [57]:
model.save('spam_NLP.h5')

# test the model

In [59]:
text="FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv"
text=re.sub('[^a-zA-Z]','',text)
text=text.lower()
text=text.split()
text=[ps.stem(word) for word in text if word not in set(stopwords.words('english'))]
text=' '.join(text)
text

'freemsgheytheredarlingitsbeenweeksnowandnowordbackidlikesomefunyouupforitstilltbokxxxstdchgstosendtorcv'

# Predicting the message

In [62]:
predict=model.predict(cv.transform([text]))
if predict>0:
    pred='spam'
else:
    pred='ham'
print('The text message is a ',pred)

1/1 [==============================] - 0s 19ms/step
The text message is a  spam